

div.sign-up-section,div.sign-in-section,.SMART-LOGIN{
background-color: #24353f;

}
 input,button{
    background-color: #24353f;
    
    }
 h2{
 
color: #17a2b8;
}
 button{
    color:#17a2b8 ;
    border-radius: 5px;
    border-color: #17a2b8;
   
}
.SMART-LOGIN p{
    color: #17a2b8;
}
.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}